<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged Out</title>
</head>
<body>
    <p>Logged out!</p>

    <a href="{% url 'login'%}">Click here to login again.</a>
</body>
</html>