{% extends "track/base.html" %}

{% block title %}<title>Feedback</title>{% endblock %}

{% block body %}
<a href="{% url 'track-pid-problem' rating.problem.id %}">{{ rating.problem.name }}</a>
<table class="table table-sm">
<tr><td>Email</td><td>{{ rating.email }}</td></tr>
    <tr><td>Handle</td><td>{{ rating.handle }}</td></tr>
    <tr><td>Problem</td><td>{{ rating.problem }}</td></tr>
    <tr><td>Date</td><td>{{ rating.date_created }}</td></tr>
    <tr><td>Rating</td><td>{{ rating.rating }}</td></tr>
    <tr><td>Grade</td><td>{{ rating.grade }}
    <tr><td>Comment</td><td>{{ rating.comment_text }}</td></tr>
</table>
{% endblock %}