{% extends "track/base.html" %}

{% block title %}<title>Problems</title>{% endblock %}
{% block body %}
<form action="{% url 'track-problem' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% if problems %}
    <table class="table">
        <thead>
            <tr><th>name</th><th>setters</th><th>gym</th><th>location</th><th>grade</th><th>rating</th></tr>
        </thead>
        <tbody>
        {% for problem in problems %}
            {% if problem.active %}
            <tr>
                <td><a href="{% url 'track-pid-problem' problem.id %}">{{ problem.name }}</a></td  >
                <td>{{ problem.setters.all|join:", " }}</td>
                <td>{{ problem.location.climbing_gym }}</td>
                <td>{{ problem.location.description }}</td>
                <td>{{ problem.grade }}</td>
                <td>{{ problem.avg_rating }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endif %}
{% endblock %}