{% extends "track/base.html" %}

{% block title %}<title>Leave Feedback</title>{% endblock %}
{% block body %}
<h2>{{ problem.name }}</h2>
<form action="{% url 'track-pid-leavefeedback' problem.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
