{% extends "track/base.html" %}

{% block title %}<title>Create Problem</title>{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{% endblock %}