{% extends "track/base.html" %}

{% block title %}<title>Problem Details</title>{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ problem.name }}</h2>
            <table class="table table-sm">
                <tr><td>Description</td><td>{{ problem.description }}</td></tr>
                <tr><td>Location</td><td> {{problem.location }}</td></tr>
                <tr><td>Setters</td><td>{{ problem.setters.all|join:", " }}</td></tr>
                <tr><td>Set Date</td><td>{{ problem.set_date }}</td></tr>
                <tr><td>Grade</td><td>{{ problem.grade }}</td></tr>
                <tr><td>Rating</td><td>{{ problem.avg_rating }}</td></t></tr>
            </table>
            <a href="{% url 'track-pid-leavefeedback' problem.id %}">Feeback</a>
            <table class="table table-sms">
                <thead>
                    <tr><th>id</th><th>handle</th><th>date</th><th>rating</th><th>grade</th></tr>
                </thead>
            {% for rating in problem.rating_set.all %}
                {% if rating.visible %}
                <tr><td><a href="{% url 'feedback-pk-detail' rating.id %}">{{ rating.id }}</a></td>
                        <td>{{ rating.handle|default:None }}</td>
                        <td>{{ rating.date_created }}</td>
                        <td>{{ rating.rating }} </td>
                        <td>{{ rating.grade }}</td></tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
        <div class="col">
            <img src="{{ problem.image.url }}" alt="{{ problem.image.name }}" style="width:512px"/>
        </div>
    </div>
</div>
{% endblock %}
