{% extends "track/base.html" %}

{% block title %}<title>Update Problem</title>{% endblock %}

{% block body %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
{% endblock %}