{% extends "track/base.html" %}

{% block title %}<title>Test</title>{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
{% endblock %}